:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 72%, 49%);
  --strong-cyan-border: hsl(174, 83%, 44%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --light-red-border: hsl(17, 32%, 91%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl (0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue: hsl(230, 100%, 99%);
  --light-grayish-blue2: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 1.6;
  background: var(--very-pale-blue);
  background-image: url(./images/pattern-circles.svg),
    url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 150px, cover;
  background-position: top 70px left 50%, 0;
}

.container {
  width: 100%;
  max-width: 65em;
  margin: 120px auto 0 auto;
  height: 30rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

h1 {
  font-size: 30px;
}

.title {
  letter-spacing: -2px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  letter-spacing: -1px;
  color: var(--grayish-blue);
}

.card {
  background-color: #fff;
  width: 35rem;
  padding: 40px 60px;
  border-radius: 10px;
}

.flex-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.page-views {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 600;
  font-size: 14px;
  /*  */
  /*  padding-right: 80px; */
}

.price {
  display: block;
  display: flex;
  align-items: center;
  /*  */
  /*  padding-left: 50px; */
}

.amount {
  font-weight: 800;
  font-size: 40px;
  margin-right: 6px;
}

.input-range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin: 0 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grayish-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3.6px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--strong-cyan);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--strong-cyan);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.billing-choices {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.billing-choices > * {
  padding: 0 10px;
}

.monthly-billing,
.yearly-billing {
  font-size: 12px;
  color: var(--grayish-blue);
}

.discount-text {
  font-size: 10px;
  color: var(--light-red);
  background-color: var(--light-red-border);
  border-radius: 10px;
  padding: 1px 7px;
}

hr {
  border-top: -1px solid var(--grayish-blue);
  margin: 60px 0 40px 0;
}

.flex-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  font-size: 12px;
  line-height: 2.5;
}

img {
  display: inline-block;
  margin-right: 20px;
}

button {
  border: none;
}

.button {
  font-size: 14px;
  color: var(--light-grayish-blue2);
  background-color: var(--dark-desaturated-blue);
  border-radius: 100px;
  padding: 15px 55px;
}

.button:hover {
  color: #fff;
  cursor: pointer;
}

input[type='range'] {
  height: 41px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #491b1b;
  background: var(--soft-cyan);
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 8px 20px var(--strong-cyan);
  border: 2px solid var(--strong-cyan-border);
  height: 32px;
  width: 31px;
  border-radius: 15px;
  background: var(--strong-cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: left 0.28vw top 0.6vw;
  background-size: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.5px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--soft-cyan);
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #74a9d8;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 10px #000031;
  border: 2px solid var(--strong-cyan-border);
  height: 32px;
  width: 31px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #74a9d8;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #74a9d8;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 10px #000031;
  border: 2px solid #00001e;
  height: 32px;
  width: 31px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #74a9d8;
}
input[type='range']:focus::-ms-fill-upper {
  background: #74a9d8;
}

@media (max-width: 414px) {
  .container {
    width: 80%;
  }

  .title {
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
  }

  .flex-3 {
    flex-direction: column;
  }

  .son {
    text-align: center;
    font-size: 15px;
    width: 60%;
  }

  .page-views {
    font-size: 14px;
    font-weight: 800;
    color: var(--grayish-blue);
  }

  .amount {
    font-size: 30px;
    color: var(--dark-desaturated-blue);
  }

  .month {
    color: var(--dark-desaturated-blue);
  }

  .card {
    width: 20rem;
  }

  .remove {
    display: none;
  }

  .billing-choices {
    margin-left: -35px;
    width: 290px;
    justify-content: flex-start;
  }
  .monthly-billing {
    font-size: 10px;
  }

  .yearly-billing {
    font-size: 10px;
  }

  .flex-4 {
    flex-direction: column;
  }

  .list {
    margin-bottom: 30px;
  }

  .item {
    text-align: center;
  }

  .container {
    margin-top: 40px;
  }

  input[type='range'] {
    height: 41px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 205%;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #491b1b;
    background: var(--soft-cyan);
    border-radius: 50px;
    border: 0px solid #010101;
  }
  input[type='range']::-webkit-slider-thumb {
    box-shadow: 1px 8px 20px var(--strong-cyan);
    border: 2px solid var(--strong-cyan-border);
    height: 32px;
    width: 31px;
    border-radius: 15px;
    background: var(--strong-cyan);
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: left 0.28vw top 0.6vw;
    background-size: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.5px;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: var(--soft-cyan);
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #74a9d8;
    border-radius: 50px;
    border: 0px solid #010101;
  }
  input[type='range']::-moz-range-thumb {
    box-shadow: 1px 1px 10px #000031;
    border: 2px solid var(--strong-cyan-border);
    height: 32px;
    width: 31px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type='range']::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type='range']::-ms-fill-lower {
    background: #74a9d8;
    border: 0px solid #010101;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type='range']::-ms-fill-upper {
    background: #74a9d8;
    border: 0px solid #010101;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 10px #000031;
    border: 2px solid #00001e;
    height: 32px;
    width: 31px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type='range']:focus::-ms-fill-lower {
    background: #74a9d8;
  }
  input[type='range']:focus::-ms-fill-upper {
    background: #74a9d8;
  }
}
